body {
	font-family: Rajdhani, sans-serif;
}

.test {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 1024px;
}

header {
	background-color: #000;
	height: 55px;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 1;
}

header ul {
	display: flex;
	padding: 5px 37px;
	box-sizing: border-box;
	justify-content: space-between;
	width: 1024px;
	margin: auto;
}

header li {
	line-height: 45px;
}

header li:first-child {
	background-image: url(../img/yulianny-logo.png);
	
	width: 153px;
	height: 45px;
	background-repeat: no-repeat;
	background-size: 130px;
	background-position: left 1px;
	display: block;
}

header a {
	text-decoration: none;
	color: #fff;
	text-transform: lowercase;
	font-size: 15px;
	letter-spacing: 2px;
}

header .location,
header .contact {width: 40px;height: 45px;display: inline-block;background-position:  center;background-repeat: no-repeat;background-size: auto 27px;}

header .location {
	background-image: url(../img/location-icon.png);
}

header .contact {
	background-image: url(../img/contact-icon.png);
}

main {
	/* width: 1024px; */
	/* margin: auto; */
	padding-top: 55px;
	position: relative;
}

.icon {
	width: 937px;
	height: 20 px;
	margin: auto;
	padding-top: 5px;
	position: relative;
}


section {
	position: relative;
	width: 1024px;
	margin: auto;
}

section.col-2 {
	display: flex;
}

section.col-1 {
}

section .image {
	background-size: cover;
	background-position: center;
	height: auto; 
    width: auto; 
}

section.col-2 .image {
	width: 100%;
}

section.col-1 .image {
	height: 493px;
	display: block;
	width: 1024px;
	/*width: auto;*/
	/*background-attachment: fixed;*/
}

/*section.col-1 .image-2{
	height: 50px;
	display: block;
	width: 1024px;
	background-size: cover;
	background-position: center;
	height: auto; 
    width: auto; 
}*/

.col-b h1 {
	    width: 1024px;
    display: block;
    margin: auto;
}


section.col-b {
	height: 50px;
	width: 944px;
	/*background-color: #798E36;*/
	background-color: #8D6056;
	/*	background-color: #E25B67;*/
	/*color: #ffffff;*/
	/*color: #E25B67;*/
	color: yellow;
	font-size: 26px;
	font-weight: regular;
	text-transform: uppercase;
	font-family: sans-serif;
	letter-spacing: 3px;
	padding: 30px 40px 0px;
	/*margin-bottom: 9px;*/
	/* width: 100vw; */
	/* margin: 0; */
}


section.col-1 .image.long {
	height: 1419px;
}


.details {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 296px 0 101px;
}

.details h3,
.details .description,
.details .key-words {
	padding: 4px 42px;
	text-transform: capitalize;
}

.details h3 {
	color: #fcb513;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-bottom: 2px dotted;
	padding-bottom: 12px;
	margin-bottom: 9px;
	border-radius: 0.1px;
}

.details h3:after {
	display: block;
	border-bottom: 1px dashed;
}

.details .description {
	font-weight: bold;
	letter-spacing: 1.5px;
	color: #8d8d8d;
}

.details .key-words {
	color: #8d8d8d;
	font-size: 11px;
	letter-spacing: 1.5px;
}

section.col-1 .image.vitamin-water {
	height: 240px;
}

section.col-1 .image.summa {
	height: 320px;
}
